/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


i {
    font-style: italic;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(20vh, auto);
    /* max-width: 960px; */
    margin: 0 auto;
    grid-template-areas:
    "background-image background-image header-text header-text"
    "background-image background-image header-text header-text"
    "background-image background-image signup-box signup-box"
    "background-image background-image signup-box signup-box"
    "background-image background-image signup-box signup-box"
}

.background-image {
    grid-area: background-image;
    background-image: url(images/backgroundimg.jpg);
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-size: 100%;
}

.logo {
    background-color: rgb(0, 0, 0, 50%);
    font-size: 64px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.logo p {
    font-family: 'Lobster', cursive;
    padding: 20px;
}

.image-credit {
    margin-bottom: 25px;
}

a:link {
    color: white;
}

.image-credit a:visited {
    color: white;
}

.image-credit a:hover {
    color: lightblue;
}

.header-text {
    grid-area: header-text;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: whitesmoke;
    font-size: 24px;
    font-weight: bold;
}

.header-text p {
    padding: 40px;
    line-height: 2rem;
}

.signup-box {
    grid-area: signup-box;
}

form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(50px, auto);
    /* width: 100%; */
    grid-gap: 10px;
    margin-left: 25px;
    grid-template-areas: 
    "legend legend"
    "first-name last-name"
    "email phone"
    "password password-confirm"
    "button-box button-box";
}

.legend {
    grid-area: legend;
}


.first-name {
    grid-area: first-name;
}

.last-name {
    grid-area: last-name;
}

.email {
    grid-area: email;
}

.phone {
    grid-area: phone;
}

.password {
    grid-area: password;
}

.password-confirm {
    grid-area: password-confirm;
}

.password-section {
    box-shadow: 5px 5px 15px -6px #000000;
}

.button-box {
    grid-area: button-box;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 40px;
    width: 100%;
}


.button-box a:visited {
    color: teal;
}

.button-box a:hover {
    color: lightblue;
}

.button-box button {
    padding: .5rem 3rem;
    background-color: teal;
    color: white;
    border-radius: 5px;
}